# ==================================
# Aliases
# ==================================

# Reload zsh config
alias reload='source ~/.zshrc'


# ==================================
# System
# ==================================

alias l="ls -lah --color"
alias la="ls -AF --color"
alias ll="ls -lFh --color"

alias dirnames="find . -maxdepth 1 -type d"

# alias ip="ip --color"
# alias ipb="ip --color --brief"


# ==================================
# Pacman
# ==================================

alias pacup="sudo pacman -Suy && sudo aura -Auy"
# For recursively removing orphans and their configuration files.
alias paclean="sudo pacman -Rns $(pacman -Qtdq)"
alias aurclean="sudo aura -Akua"


# ==================================
# Node, npm, yarn, nvm
# ==================================

alias nr="npm run"
alias nt="npm run test"
alias nl="npm run lint"
alias ntc="npm run typecheck"
alias nv="npm run validate"
alias np="npm publish"
alias ndt="npm dist-tag ls"

alias yanr="yarn"
alias yr="yarn run"
alias yt="yarn run test"
alias yl="yarn run lint"
alias ytc="yarn run typecheck"
alias yv="yarn run validate"
alias yp="yarn publish"
alias yui="yarn upgrade-interactive"
alias yuil="yarn upgrade-interactive --latest"
alias yuili="yarn upgrade-interactive --latest --ignore-engines"
alias yw="yarn workspace"

alias npmeu="npm --registry https://registry.npmjs.eu"
alias npmorg="npm --registry https://registry.npmjs.org"
alias npmcf="npm --registry https://registry.npmjs.cf"

 
# ==================================
# Misc
# ==================================

# Network
# alias status="ip -o link show | awk '{print $2,$9}'"
# alias status="nmcli --terse --fields DEVICE,STATE dev status"
alias status="nmcli dev status"

# HTTP traffic
# alias sniff="sudo ngrep -W byline -d 'enp0s25' -t '^(GET|POST) ' 'tcp and port 80'"
# alias httpdump="sudo tcpdump -i enp0s25 -n -s 0 -w - | grep -a -o -E \"Host\: .*|GET \/.*\""

# ROT13-encode text. Works for decoding, too.
alias rot13='tr a-zA-Z n-za-mN-ZA-M'

# Get external IP
# alias ipext="curl -s http://checkip.dyndns.org | sed 's/[a-zA-Z/<> :]//g'"
# alias ipext="dig +short myip.opendns.com @resolver1.opendns.com"
alias ipext="curl -s https://httpbin.org/ip | jq -r '.origin?'"

# Get local IP
# alias iploc="ipconfig getifaddr en1"
# alias iploc="ifconfig | grep inet"
alias iploc="ip addr | grep -Po --color=never '(?!(inet 127.\d.\d.1))(inet \K(\d{1,3}\.){3}\d{1,3})'"

# echo '{"foo": "lorem", "bar": "ipsum"}' | prettyjson
# prettyjson toto.json
alias prettyjson='python -m json.tool'


# ==================================
# Docker
# ==================================

alias dc='docker-compose'

# Kill all running containers.
alias dockerkillall='docker kill $(docker ps -q)'

# Delete all stopped containers.
alias dockercleanc='docker rm $(docker ps -aq)'

# Delete all untagged images.
alias dockercleani='docker rmi $(docker images -q -f dangling=true --quiet)'

# Delete all stopped containers and untagged images.
alias dockerclean='dockercleanc || true && dockercleani'

# Delete old containers.
# See http://stackoverflow.com/questions/17236796/how-to-remove-old-docker-io-containers
alias dockercleanoldc='docker ps -a | grep "weeks ago" | awk "{print \$1}" | xargs docker rm'


# ==================================
# Python
# ==================================

alias nose='nosetests -sxv'


# ==================================
# Git
# ==================================

alias glog="git log --format='%Cgreen%h%Creset %C(cyan)%an%Creset - %s' --graph"
alias gl="git log --oneline --decorate"
# alias gs="git status --porcelain"
alias gs="git status --short"
alias gaa="git add -A"
alias gcam="git commit -am"
alias gpom="git push origin master"
alias gpod="git push origin develop"
alias gpo="git push origin"
alias gpt="git push --tags"
alias gpr="git pull --rebase"
alias gpro="git pull --rebase origin"
alias gprom="git pull --rebase origin master"
alias gprod="git pull --rebase origin develop"
alias gai="git add --interactive"
alias gbra="git branch -a"
alias grup="git remote update --prune"
alias gsa="git stash apply"
alias gcf="git commit --fixup"
alias gri="git rebase --interactive"
alias gria="git rebase --interactive --autosquash"
alias gch="git checkout HEAD ."
alias gc="git checkout"
alias gcm="git checkout master"
alias gpf="git push --force-with-lease"
alias gca="git commit --amend --no-edit"
