
# Improved `npm list`
function npmls() {
  npm ls --depth=0 "$@" 2>/dev/null
}

# Weather forcast
function meteo() {
  curl -4 wttr.in/"$1"
}

# Create a new directory and enter it
function md() {
  mkdir -p "$@" && cd "$@"
}

# Open in browser
function open() {
  xdg-open "$@"
}
