# Global user ignore rules

# Editor local configs.
.vimrc.local
*.sublime-project
*.sublime-workspace
# .vscode

# Patch/diff artifacts.
*.patch
*.diff
*.orig
*.rej
interdiff*.txt

# emacs artifacts.
*~
\#*\#

# Hidden files.
.DS*
.project

# Temporary files.
tmp*

# Node/npm/yarn.
npm-debug.log
yarn-error.log
# .nvmrc
