[user]
	name = Pascal Duez
	email = public@pascalduez.me
[github]
	user = pascalduez
[core]
	excludesfile = ~/.gitignore
	editor = nvim
	whitespace = cr-at-eol
[rerere]
	enabled = true
[diff]
	# Optimize diffs for renamed and copied files
	renames = copies
	mnemonicprefix = true
	compactionHeuristic = true
[push]
	default = current
[branch]
	# Set up 'git pull' to rebase instead of merge
	# autosetuprebase = always
[rebase]
	instructionFormat = "[%an - %ar] %s"
[alias]
	ra = rebase --abort
	rc = rebase --continue
